# Git Ignore for Link Picker for CMB2
# -----------------------------------------------------------------------------

# Kapow! setup script.
# -------------------------------------
kapow.sh

# Flotsam & Jetsam.
# -------------------------------------
.DS_Store
